<md-content layout="column" layout-fill layout-wrap layout-align="center center" id="app-container">
    <md-card class="md-padding" layout-fill>
        <form layout="row" ng-submit="addTodo()">

            <md-input-container flex id="input">
                <label>Enter new task</label>
                <input autocomplete="off" name="taskInput" ng-model="newTask" type="text" maxlength="60"/>
                <div ng-messages="newTask.$error" role="alert">
                    <div ng-message-exp="['maxlength']">
                        Task should not be greater than 60 characters
                    </div>
                </div>
            </md-input-container>

            <md-input-container>
                <md-button
                        type="submit"
                        class="md-fab"
                        aria-label="Add todo item"
                        ng-disabled="newTask.$error || newTask == '' ">
                    <md-icon md-svg-icon="resources/add.svg"></md-icon>
                </md-button>
            </md-input-container>

        </form>
        <md-divider></md-divider>

        <md-subheader class="md-no-sticky">Tasks</md-subheader>

        <ul ng-repeat="todo in todoList" layout="row" layout-align="space-between center" class="md-padding">
            <md-checkbox ng-model="todo.done" aria-label="Todo Checkbox"></md-checkbox>
            <span flex="85" class="list-label">{{todo.string}}</span>
            <md-icon class="md-secondary" aria-label="Delete" ng-click="removeTodo(todo)"
                     md-svg-icon="resources/delete.svg"></md-icon>
        </ul>

    </md-card>
</md-content>